@media only screen and (max-width: 778px){

      /* product container  */
      .grid-container{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media only screen and (max-width: 676px){
    .header-section{
        flex-direction: column;
        margin-left: 50px;
        padding: 10px 0;
    }
    .items-container{
        flex-direction: column;
        margin-left: 50px;
    }
    .banner-section{
        flex-direction: column;
        margin-top: 10px;
    }
    .text-image-container{
        width: 100%;
        order: 1;
    }
    .banner-image-container{
        width: 100%;
        order: 0;
    }

    /* product container  */
    .grid-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .gallery-container{
        
    }
}